<?xml version="1.0" encoding="ISO-8859-1" ?>
<configuration>
    <launcher>
        <threads>2</threads>
    </launcher>
    <transport>
        <server>
            <host>localhost</host>
            <port>8084</port>
            <bossGroupThreadCount>1</bossGroupThreadCount>
        </server>
    </transport>

    <connections>
        <openstack>
            <adminConnection>http://10.40.19.191:5000/v2.0"</adminConnection>
            <password>1qaz2wsx@</password>
        </openstack>
    </connections>
</configuration>