<?xml version="1.0" encoding="ISO-8859-1" ?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements. See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership. The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<configuration>
    <launcher>
        <threads>2</threads>
    </launcher>
    <transport>
        <server>
            <host>localhost</host>
            <port>8084</port>
            <bossGroupThreadCount>1</bossGroupThreadCount>
            <file.upload.url>/file</file.upload.url>
            <tmp.file.location>file_storage_tmp/</tmp.file.location>
        </server>
    </transport>

    <obj-storage>
        <connection>
            <url>http://127.0.0.1:9000</url>
            <accesskey>D17BFT97ATJREDLTY07P</accesskey>
            <secretkey>RNXpGg7qsY5YxkGPzWtOEkkg52ePYkdbYCs5rMTU</secretkey>
        </connection>
    </obj-storage>


    <connections>
        <openstack>
            <adminConnection>http://10.40.19.191:5000/v2.0"</adminConnection>
            <password>1qaz2wsx@</password>
        </openstack>
    </connections>
</configuration>