<configuration>
    <launcher>
        <threads>2</threads>
    </launcher>
    <transport>
        <server>
            <host>localhost</host>
            <port>8080</port>
            <bossGroupThreadCount>1</bossGroupThreadCount>
            <httpobjectaggregator>104867</httpobjectaggregator>
        </server>

        <ssl-config>
            <enabled>false</enabled>

            <protocol>TLS</protocol>
            <keystore>
                <type>JKS</type>
                <file>ssl_certs/mytestkeys.jks</file>
                <password>123456</password>
            </keystore>
            <cert>
                <password>123456</password>
            </cert>
        </ssl-config>
    </transport>


    <sys-service>
        <httpobjectaggregator>104867</httpobjectaggregator>
        <connections>
            <path>/state</path>
            <protocol>http</protocol>
            <connection>
                <host>127.0.0.1</host>
                <port>8084</port>
            </connection>
            <connection>
                <host>127.0.0.2</host>
                <port>8081</port>
            </connection>
        </connections>
    </sys-service>

    <etcd-cluster>
        <connections>
            <url>http://localhost:2379</url>
        </connections>
    </etcd-cluster>

</configuration>